{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    {
      "preset": "conventionalcommits",
      "releaseRules": [
        {
          "type": "feat",
          "scope": ".*",  
          "message": "^\\[UI-\\d+\\] feat\\(.+\\): .+",
          "release": "minor"
        } 
      ]
    },
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["CHANGELOG.md"]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "CHANGELOG.md"],
        "message": "chore(release): update package.json version to ${nextRelease.version} and CHANGELOG.md"
      }
    ]
  ]
}
